body {
    background: #EAEAEA; /*#6C615C*/ /*#4e3a3a*/
}
#topbar {
    height:45px;
    background:black;
}
#hello-content {
    padding-top: 27px;
    white-space:nowrap;
}
#hello-slider {
    padding:3px 0 0 15px;
    float:left;
}
#icons {
    margin-top:3px;
    padding:20px 0 0 40px;
    background:url('../images/black-bg.png') repeat-x;
}
#footer {
  margin-left:15px;
  width:96%;
}
.wide {
    width:80%;
    left:10%;
}
.orbit-container {
    width:65%;
    float:left;
}
