.valigned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.postdate {
    color: #9EABB3;
    float: right;
    padding-right: 30px;
}
#footermenu ul li {
    float: right;
}
#footermenu ul li a {
    color: #585858;
}
.fa {
    width:auto !important;
    padding-left: 12px;
    padding-right: 12px;
}

.twitter-share-button[style] {
  margin-right: 5px;
}

.twitter-share-button,
.twitter-mention-button,
.twitter-hashtag-button, {
  display: inline-block;
  padding: 1px 3px 0 19px;
  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat;
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              -webkit-linear-gradient(#fff, #dedede);
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              linear-gradient(#fff, #dedede);
  background-size: 16px 13px, auto auto;
 
  /* Text */
    font: bold 11px/17px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  white-space: nowrap;
}
 
/* Color Highlight for keyboard navigation */
a.twitter-share-button:focus,
a.twitter-mention-button:focus,
a.twitter-hashtag-button:focus {
  outline: none;
  border-color: #0089cb;
}

.content-centered {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
code {
    -webkit-box-shadow: 0;
    box-shadow: none;
    background:none;
    color: #3776DB;
}
p h5 {
    font-family: Palatino, "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
}
.og-grid {
    padding:0;
}
.image-link a img {
    object-fit:cover;
    -moz-object-fit:cover;
    -ms-object-fit:cover;
    -o-object-fit:cover;     
}
a:hover {
    color: #DB6837 !important;
}
a .burnt-orange:hover {
    color: #bba454 !important;
}

blockquote {
    border: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.sticky {
    position: fixed !important;
    top: 0;
    z-index: 10000;
}
.menu-active {
    color: #DB6837 !important;
}
.menu-inactive {
    color: #000 !important;
    opacity: 0.3;
}
.blog-nav a {
    font-size: 16px;
    font-weight: 400;
    text-shadow: 2px 2px 0 rgba(0,0,0,.15);
}
.am-hero-cover h1, .am-hero-cover h2 {
    text-shadow: 2px 2px 3px #141414;
}
.lb-image {
    max-width:inherit;  /* Allow lightbox images to expand when clicked on */
}
body {
    background: white;  
}
img {
    max-width:100%;
    height:auto;
    -ms-interpolation-mode:bicubic;
    display:inline-block;
}
video {
    max-width:100% !important;
    display:inline-block;
}
p {
    font-family: Palatino, "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    line-height: 1.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 16px;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    text-shadow:none;
    color:#585858 !important;
}

p p-dark {
    color:#3776DB !important;
    font-size:15px;
}

a:hover {
  color: #59ffeb;
  opacity: 1.0 !important;
}
.transparent {
    background:transparent !important;
}
.transparent:hover {
    color:#bba454 !important;
}
h1 {
    font-family:'Bitter';
}
h1-alt {
    font-family:helvetica;
    font-size:40px;
    font-weight:500;
}
h2 {
    text-transform:none;
}
h2-dark {
    font-family: 'Roboto Slab', serif;
    font-size:27px;
    font-weight:500;
    line-height: 30px;
    color: #585858;
    text-shadow: none;
}
h3 {
    text-transform:none;
    color: #3776DB !important;
    text-shadow: 2px 2px 3px #141414;
    font-family:helvetica;
    font-weight:500;
    margin:0;
}
.spaced {
    margin:1em 0;
}
h3-dark {
    font-family: 'Roboto Slab', serif;
    font-size:20px;
    font-weight:500;
    line-height: 30px;
    color: #585858;
    text-shadow: none;
}
h3-wide {
    font-family: 'Lato', serif;
    font-size:16px;
    font-weight: bold;
    line-height: 30px;
    color: #585858;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: .2em;
}
h4 {
    text-transform:none;
}
h4-dark {
    font-size:16px;
    color: #585858;
    text-shadow: none;
}
h5 {
    color: #3776DB !important;
    margin:0;
}
h5-dark {
    font-family: sans-serif;
    font-size:15px;
    text-shadow: none;
}
ul {
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    line-height: 1.8em;
}
nav ul {
    font-family: inherit;
    line-height: inherit;
}
#blog-nav ul {
    line-height: 1.8em;
}
.text-shadowed {
    text-shadow: 3px 3px 3px #141414;    
}
.text-upper {
    text-transform:uppercase;
}
.text-lower {
    text-transform:lowercase;
}
.text-centered  {
    text-align:center;
}
.text-left  {
    text-align:left;
}
.text-right  {
    text-align:right;
}
.text-justified  {
    text-align:justify;
}
blockquote {
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 11px 15px 12px;
    margin-left: 2em;
    overflow: auto;
}
.cover {
    background-size:cover;
/*    background-attachment:fixed;*/
/*    background-position: 0 -80px;*/
    box-shadow: 0px -4px 4px -2px #141414 inset;
}
.mountainside {
    background-image:url('../img/covers/cover-mountainside.png');    
}
.waterfall {
    background-image:url('../img/covers/cover-waterfall.png');    
}
.bluesky {
    background-image:url('../img/covers/cover-bluesky.png');
}
.rock {
    background-image:url('../img/covers/cover-rock.png');    
}
.liteturn {
    background-image:url('../img/covers/cover-liteturn.png');
}
.photon {
    background-image:url('../img/covers/cover-photon.png');
}
.about-avatar {
	position: relative;
	margin-top: -140px;
	border: 4px solid #ffffff;
	width: 180px;
	height: 180px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.top-aligned {
    vertical-align:top;
}
.hcentered {
    margin-left:auto;
    margin-right:auto;
}
.wide {
    width:80%;
    left:10%;
}
.orbit-container {
    width:65%;
    float:left;
}
.image-box {
    box-shadow: -2px 2px 3px #111111;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.image-box:hover {
    opacity:0.6;
}
.slight-gray-bg {
    background: #EEEEEE;
}
#intro {
    text-align: center;
    background: #141414;
    padding: 40px;
}
#code {
    text-align: center;
    padding: 40px;
    background: #EEEEEE;
}
#blog {
    padding-top: 20px;
}
#talks {
    padding: 20px;
}
#hello-slider {
    padding-left:15px;
    padding-top:3px;
    float:left;
}
#icons {
    margin-top:3px;
    padding:20px 0 0 40px;
    background:url('../images/black-bg.png') repeat-x;
}
#footer {
  margin-left:15px;
  width:96%;
}

/* Social Media icons */
i.inline {
	margin-left: 5px;
	margin-right: 5px;
}

.icon,
a .icon {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background: #1a1a1a;
    margin: auto 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

a .icon:hover {
    text-decoration: none;
    color: #ffffff;
    background: #bba454;
}

.icon.small {
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.icon.medium {
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.icon.big {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.icon.white {
    color: #1a1a1a;
    background: #ffffff;
}
.dark-orange {
    color: #A93504 !important;
}
.burnt-orange {
    color: #DB6837 !important;
}
.blue {
    color: #3776DB !important;
}
.light-gray {
    color: #EEEEEE !important;
}
.med-gray {
    color: #585858 !important;
}
.dark-gray {
    color: #363636 !important;
}
.golden {
    color: #bba454 !important;
}
.white {
    color: white !important;
}
/* Fixing lineheights */
.icon.outline {
    line-height: 36px;
}

.icon.small.outline {
    line-height: 21px;
}

.icon.medium.outline {
    line-height: 26px;
}

.icon.big.outline {
    line-height: 46px;
}

/* Lightbox CSS */ 

/* line 180, ../sass/screen.sass */
.image-row {
  *zoom: 1;
  margin-bottom: 0px;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.image-row:after {
  content: "";
  display: table;
  clear: both;
}

.image-link {
  display: inline-block;
  margin: 0 10px 20px 10px;
  line-height: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 4px solid #5e5e5e;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.image-link:hover {
  border: 4px solid #00bfa8;
}

@media screen and (max-width: 767px) {
    nav .pure-menu-horizontal li {
        display: inline-block;
    }
    nav {
        height: auto;
    }
    /*.cover {
        background-size:inherit;
    }*/
    .am-hero, .am-hero>div, .am-hero.am-hero-cover {
        height:275px;
    }
}

@media only all and (max-device-width: 780px) {
    video {
        preload: none;
        autoplay:false;
    }
}

@media only all and (max-width: 780px) {
    .about-avatar {
	margin-top: 0;
    }
}

@media only all and (max-width: 622px) {
    .image-link {
        float: center;
    }
}

@media only all and (max-width: 1480px) {
    #posts {
        visibility: hidden !important;
    }
}

@media only all and (max-width: 979px) {
    #icons {
	padding-left:20px;
    }
    #code-welcome {
	display:none;
    }
    #design-welcome {
	display:none;
    }
    #hello-welcome {
        margin-left:auto;
	margin-right:auto;
	width:100%;
    }
    .image-box:hover {
	opacity:1;
    }
    .am-hero-cover name, .am-hero-cover {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
    }
}
