footer.row
  #footer.large-12.columns
    .row
      hr
      .large-6.columns
        ul.small-block-grid-10
          li
            a(href='http://www.github.com/kyeah')
              img(src='images/logos/octocat.png' title='My Github')
          li
            a(href='http://www.linkedin.com/profile/view?id=205992470')
              img(src='images/logos/linkedin-60.png' title='My LinkedIn')
          li
            a(href='http://www.last.fm/user/k-yeah')
              img(src='images/logos/lastfm-60.png' title='Music on Last.fm')
          li
            a(href='https://www.hackerleague.org/users/kyeahokay')
              img(src='images/logos/hackerleague.png' title='My Hacker League')

script(src='js/longform.js')
script(src='js/jquery-1.7.2.min.js')
script(src='js/jquery.timeago.js')
script(src='js/foundation/foundation.min.js')
script(src='js/lightbox.js')
script(src='js/vendor/app.js')
script.
  $('a').click(function(){
  $('html, body').animate({
  scrollTop: $( $.attr(this, 'href') ).offset().top
  }, 500);
  return false;
  });