meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

// Set the viewport width to device width for mobile
meta(name='viewport' content='width=device-width')

// Included CSS Files
link(rel='stylesheet' href='css/foundation.min.css')
link(rel='stylesheet' href='css/lightbox.css')
link(rel='stylesheet' href='css/screen.css')
link(rel='stylesheet' href='css/app.css')
link(rel='icon' type='image/png' href='images/logos/kylogo.png')
style.
  [ng-cloak] {display: none}

// Included Javascript Files
script(src='js/vendor/custom.modernizr.js')
