extends layout

block title
  title Home | Kevin Yeh

block cover
  #padder.am-content-header-container.am-light
    div.am-content-container
      header.pure-g-r
        div.pure-u-1-3

  +cover(class='bm am-hero-small')

block content
  section#intro.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u-1.pure-u-md-1-12
          .pure-u-1.pure-u-md-2-3
            div
              img(src="img/personal/avatar-hny.png").about-avatar
            h1
              .animated.fadeInDown
                span.burnt-red K
                span.burnt-orange YEAH.
              hr
        .pure-g.hcentered
          .pure-u-1.pure-u-md-1-12
          .pure-u-1.pure-u-md-2-3
            h4.text-justified.gray
              br
              | {{ site.intro | markdownify | remove: '<p>' | remove: '</p>' }}
              br
              br
              ul
                li
                  a(href="http://letterboxd.com/kyeah") Letterboxd
                  |  — retros on film.
                li
                  a(href="https://buttondown.email/kyeah/archive") Newsletter
                  |  — retros on the internet.

        #talks
          .pure-g.hcentered
            .pure-u-1.pure-u-md-1-12
            .pure-u-1.pure-u-md-5-6(style='margin-bottom:5px'): h3-wide.blue
              | Film
          .pure-g
            .pure-u-1.pure-u-md-1-12
            .pure-u-1.pure-u-md-5-6: h4-dark
              a(href="/films/magical-realism") Magical Realism: 
              | Exploring Reality and Agency in the Coming-of-Age Story
              br
              a(href="/films/raging-bull-1980") From Foil to Family: 
              | Redefining Jake La Motta Through Secondary Roles
              br
          .pure-g.hcentered
            .pure-u-1.pure-u-md-1-12
            .pure-u-1.pure-u-md-5-6(style='margin-bottom:5px'): h3-wide.blue
              br
              | CS
          .pure-g
            .pure-u-1.pure-u-md-1-12
            .pure-u-1.pure-u-md-5-6: h4-dark
              | The New MongoDB Rust Driver @ Rust NYC [
              a(href="/img/projects/mongo-rust-driver.html") Slides
              |  | 
              a(href="https://github.com/mongodb-labs/mongo-rust-driver-prototype") Git
              | ]
              br
              a(href="/img/projects/liteturn-final.pdf") Liteturn: 
              | Gesture-Controlled Cyclist Lights Using Cheap and Efficient Devices [
              a(href="/img/projects/liteturn-pres.pdf") Slides
              |  | 
              a(href="https://github.com/kyeah/liteturn") Git
              | ]
              br
              a(href="/img/projects/cnn-final.pdf") Neural Style: 
              | The Genetic Evolution of Aesthetically-Pleasing Fractals [
              a(href="/img/projects/cnn-pres.pdf") Slides
              |  | 
              a(href="https://github.com/kyeah/genetic-fractals") Git
              | ]
              br
              a(href="/img/projects/nao-final.pdf") The NAO Robot: 
              | A Gravity Compensation Controller and Keyframe Behavior for Motion Development
          .pure-g.hcentered
            .pure-u-1.pure-u-md-1-12
            .pure-u-1.pure-u-md-5-6(style='margin-bottom:5px'): h3-wide.blue
              br
              | Journal
          .pure-g
            .pure-u-1.pure-u-md-1-12
            .pure-u-1.pure-u-md-5-6: h4-dark
            
              a(href="/2016/03/01/lines-in-motion/") Lines in Motion
              | : I've been learning to use a pen, lately.
              br
              a(href="/2015/01/03/why-i-turned-down-google/") Coming Home
              | : On the morning of December 18th, I sent my hackNY acceptance email to a little virtual mailbox in NYC.
              br
              a(href="/2014/04/04/evolving-fractals/") Evolving Fractals
              | : Explorations in beauty, genetics, and mathematics.

  section#code.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u-1.pure-u-md-1-12
          .pure-u-1.pure-u-md-5-6
            h4(style='padding-bottom: 60px').text-justified.white
              br
              | {{ site.about | markdownify | remove: '<p>' | remove: '</p>' }}
              br
        .pure-g.hcentered
          .pure-u.hcentered(style='width: 97%')
            .image-row
              .grid.
                <div class='grid-sizer'></div>
                {% for proj in site.projects %}
                <div class='grid-item {{proj.grid-style}}'>
                    <div class='image-link'>
                      <div class='inner'>
                      {% if proj.vid %}
                      <video autoplay loop preload="auto" poster="{{proj.vid-poster}}">
                        <source src='{{proj.vid}}' type="video/webm"/>
                      </video>
                      <img src='{{proj.vid-poster}}' class='hidden-vid-poster'></img>
                      {% else %}
                      <img src='{{proj.img-large}}' alt='{{proj.img-alt}}'></img>
                      {% endif %}
                      <div class='image-info'>
                        <h1>{{proj.title}}</h1>
                        <span>
                        {{proj.info}}
                        </span>
                        <div class='inner-info'>
                          <div class='text'>{{proj.content}}</div>
                        </div>
                      </div>
                        </div>
                    </div>
                    <div class='bot'></div>
                </div>
                {% endfor %}

            h3-dark.text-centered.light-gray
              br
              | Visit 
              a(href='https://github.com/kyeah') github:kyeah 
              | for an in-depth look at my recent and ongoing projects.
  
  section(style='padding:3px;background-color:#1980E3')