extends layout

block title 
  | <title> {{page.title}} </title>

block meta
  meta(name="twitter:card" content="summary")
  meta(property="og:type" content="article")
  meta(property="og:title" content="{{ page.title }}")
  meta(property="og:description" content="{{ page.excerpt }}")
  meta(property="og:url" content="http://kyeh.me{{ page.url }}")

block content
  section#blog-post
    .content
      .am-content-container
        .content-wrapper
          | {% assign post = page %}
          include ./post_content.pug

  section#foot
    footer
      .content
        .am-content-container(style="margin-top:0;padding-top:0")
          .content-wrapper
            .pure-g
              .pure-u-1.pure-u-md-1-6
              .pure-u-1-2.pure-u-md-1-3
                | {% if page.previous.url %}
                p: strong: a(href="{{page.previous.url}}" style="float: left").
                 < {{ page.previous.title }}
                | {% endif %}
              .pure-u-1-2.pure-u-md-1-3
                | {% if page.next.url %}
                p: strong: a(href="{{page.next.url}}" style="float: right").
                 {{ page.next.title }} >
                | {% endif %}
                
  section.am-content-container(style='padding:20px')