a(href='https://github.com/kyeah'): i.fa.fa-github.icon.transparent
a(href='https://twitter.com/kyeahokay'): i.fa.fa-twitter.icon.transparent
a(href='http://letterboxd.com/kyeah'): i.fa.fa-video-camera.icon.transparent
a(href='http://www.last.fm/user/k-yeah/'): i.fa.fa-music.icon.transparent
a(href='https://buttondown.email/kyeah/'): i.fa.fa-newspaper-o.icon.transparent