a(href='https://github.com/kyeah'): i.fa.fa-github.icon.transparent
a(href='https://www.linkedin.com/pub/kevin-yeh/58/ba0/732'): i.fa.fa-linkedin.icon.transparent
a(href='https://twitter.com/kyeahokay'): i.fa.fa-twitter.icon.transparent
a(href='http://letterboxd.com/kyeah'): i.fa.fa-video-camera.icon.transparent
a(href='http://www.last.fm/user/k-yeah/'): i.fa.fa-music.icon.transparent