extends layout

block title 
  title Blog | Kevin Yeh

block extra-menu
  li: a(href='http://scriptogr.am/kyeah') Film Journal

block cover
  +cover()(class='liteturn')

block cover-text
  a(href='/blog')
    h1.text-shadowed Questionable Hacks
  a(href='http://www.scriptogr.am/kyeah')
    h2(style='color: #A93504') goto > 
     span(style='color: #DB6837;') film journal

block scripts
  script(src='/js/blog.js')

block content
  section#blog
    #posts_anchor
    .blog-nav
      include ./blog_nav.jade

    .content: .am-content-container: .content-wrapper
      .pure-g.hcentered
        .pure-u-md-1-12
        .pure-u-1.pure-u-md-5-6
          br
          | {% for post in site.posts %}
          | <a href="{{ post.url }}">
          div
            h3-dark(style='color: #3376DB')
              | {{ post.title }}
            h5-dark(style='color: #363636; text-align:justify')
              | <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
          | </a>
          hr
          br
          | {% endfor %}