extends layout

block title 
  title Blog | Kevin Yeh

block extra-menu
  li: a(href='http://scriptogr.am/kyeah') Film Journal

block cover
  +cover()(class='liteturn')

block cover-text
  a(href='/blog')
    h1.text-shadowed.burnt-orange Questionable Hacks
  h2
    include ./social_layout.jade

block scripts
  script(src='/js/blog.js')

block content
  section#blog
    #posts_anchor
    .blog-nav
      include ./blog_nav.jade

    .content: .am-content-container: .content-wrapper
      .pure-g.hcentered
        .pure-u-md-1-12
        .pure-u-1.pure-u-md-5-6
          br
          | {% for post in site.posts %}
          | <a href="{{ post.url }}">
          div
            h3-dark.blue
              | {{ post.title }}
            br
            h4-dark.blue
              | Posted 
              time.timeago(datetime="{{ post.date }}")
              |  on {{ post.date | date: '%b %d, %Y' }}
            br
            h5-dark.dark-gray(style='text-align:justify')
              | <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
          | </a>
          hr
          br
          | {% endfor %}