#posts_anchor
.blog-nav
  ul#posts(style="position:absolute;")
    li.animated.fadeInDown
      a(href="/blog"): h2-dark.burnt-orange Q.H.

    | {% for post in site.posts %}
    li
      | <a href="{{ post.url }}">{{ post.title }}</a>
    | {% endfor %}