extends layout

block title 
  title Blog | Kevin Yeh

block extra-menu
  li: a(href='http://scriptogr.am/kyeah') Film Journal

block cover
  +cover()(class='liteturn')

block cover-text
  h1.text-shadowed The Blog
  a(href='http://www.scriptogr.am/kyeah'): h2(style='color: #DB6837') Looking for my film journal?

block content
  section#blog
    #posts_anchor
    .blog-nav
      ul#posts(style="position:absolute;").
        <li class="animated fadeInDown">
          <a href='#hero'><h2-dark style='color: #DB6837;'>The Blog</h2-dark></a>
        </li>

        {% for post in site.posts limit:5 %}
          <li class="link">
            <a href="{{ '#post' | append:forloop.index }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        {% for post in site.posts offset:5 %}
          <li>
            <a href="{{ post.url }}" class="menu-inactive">{{ post.title }}</a>
          </li>
        {% endfor %}

    .content
      .am-content-container
        | {% for post in site.posts limit:5 %}
        | <div class="content-wrapper post" id="{{ 'post' | append:forloop.index }}">
        .pure-g.hcentered
          .pure-u-1-6
          .pure-u-2-3
            br
            h2-dark(style='color: #3776DB')
              div.
                <a href="{{ post.url }}">{{ post.title }}</a>
            h3-dark(style='color: #3776DB')
              | Posted 
              time.timeago(datetime="{{ post.date }}")
              |  on {{ post.date | date: '%b %d, %Y' }}
              br
              br
        .pure.g.hcentered
          .pure-u-1-6
          .pure-u-2-3
            h5-dark(style='color: #363636')
              div.
                {{ post.content }}
              br
              br
        hr
        br
        | </div>
        | {% endfor %}
