extends layout

block title 
  title Blog | Kevin Yeh

block extra-menu
  li: a(href='http://scriptogr.am/kyeah') Film Journal

block cover
  +cover()(class='liteturn')

block cover-text
  h1.text-shadowed The Blog
  a(href='http://www.scriptogr.am/kyeah'): h2(style='color: #DB6837') Looking for my film journal?

block content
  section#blog
    #posts_anchor
    ul#posts(style="position:absolute;").
      {% for post in site.posts limit:5 %}
        <li id="{{ forloop.index }}">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      {% for post in site.posts offset:6 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}

    .content
      .am-content-container
        | {% for post in site.posts limit:5 %}
        .content-wrapper
          .pure-g.hcentered
            .pure-u-1-6
            .pure-u-2-3
              br
              br
              h2-dark(style='color: #3776DB')
                div.
                  {{ post.title }}
              h3-dark(style='color: #3776DB')
                | Posted 
                time.timeago(datetime="{{ post.date }}")
                |  on {{ post.date | date_to_long_string }}
                br
                br
          .pure.g.hcentered
            .pure-u-5-24
            .pure-u-7-12
              h5-dark(style='color: #363636')
                div.
                  {{ post.content }}
                br
                br
          hr
        | {% endfor %}