extends film_layout

block content
  article.index
    .content
      .title
        .date
          | {{ page.date | date: '%b %d, %Y' }}
          br
          | —
        // Post Title
        h1: a(href='{{page.url}}') {{ page.title }}
      #body
        img(src='{{page.img}}')
        {{content | markdownify}}