doctype html
html
  head
    //
      Citizen Theme
      by Jonathon Toon
      www.jonathontoon.com
      Made for scriptogr.am
    title   Kevin Yeh
    meta(name='description', content='A movie journal to reflect on all the films that I hate and admire.')
    meta(name='viewport', content='width=device-width; initial-scale=1; maximum-scale=1.0;')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='ROBOTS', content='INDEX,FOLLOW')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(property='og:title', content='Kevin Yeh')
    meta(property='og:site_name', content='Kevin Yeh')
    link(rel='shortcut icon', href='http://scriptogr.am/lib/img/favicon.ico')
    link(rel='alternate', type='application/rss+xml', title='RSS', href='http://scriptogr.am/kyeah/feed')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,800', rel='stylesheet', type='text/css')
    link(href='/css/film-style.css', rel='stylesheet', type='text/css')
  body(lang='en')
    // Like Button
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #wrapper
      section#head
        // Header
        header
          #head-container
            // Description
            #description
              h3 A movie journal to reflect on all the films that I hate and admire.
            // Menu
            nav
              ul
                li
                  a(href='http://scriptogr.am/kyeah') Home
                li
                  a(href='http://kyeh.me/blog') My Personal Blog
                li
                  a(href='http://www.imdb.com/user/ur49646117/ratings?ref_=nv_usr_rt_4') IMDb Ratings
                li
                  a(href='http://scriptogr.am/kyeah/archive') Archive
      section
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | Sep 9, 2015
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/sunrise-a-song-of-two-humans-1924') Sunrise: A Song of Two Humans (1924)
            #body
              p
                img(src='http://filmschoolrejects.com/images/Sunrise-A-Song-of-Two-Humans.jpg', alt='')
              p
                | I haven't written in a while, but I want to write to you now. I've just gotten home after viewing this film, and I have an immense urge to write about it and find a copy so that I can rewatch it as soon as possible.
              p
                | This film is beautiful. The synopses that you find on IMDB don't do this film justice, and that is the best part -- no amount of description can express what it is like to watch this film. The subtitle, 'A Song of Two Humans,' is about as close you can get: it's an intimate, moving story about two human beings, unraveled as one long tone poem. The music is integral in adding a poetic, emotional dimension as the film ebbs and flows from one set piece to another, and it would not be nearly as iconic a piece of cinema if it had not been made in the silent era. 
                em Sunrise
                |  is poetry in motion.
              p
                | As was common in German film, long takes and moving shots are frequent, and F.W. Murnau utilizes an assortment of creative angles and shots to give life and motion to the world that he creates. The lighting in some of the darker, more intimate shots are beautiful. In addition, although the acting can sometimes go overboard in the first act, Janet Gaylor has a tremendous emotional range, and her co-star George O'Brien is nothing to scoff at. Without dialogue, the pure humanity of the two stars emanate and shine through their movements, expressions, and the way they conduct themselves at a physical and emotional level.
              p
                em Sunrise
                |  is poetry. It is meant to be felt and understood at a primal level. The strokes of the soundtrack set the tone for the film and guide it through to its proper end, and all you can do is strap yourself in for an emotional journey.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | Jan 12, 2015
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/side-effects') Side Effects (2013)
            #body
              p
                img(src='http://www.agendamagazine.be/sites/default/files/side_effects_interview_rooney_mara.jpg', alt='Side Effects (2013)')
              p
                em Side Effects (2013)
                |  is a quiet psychological film that rolls along in a calming, dreamlike state. It cuts away from scene to scene and jumps from point to point, with dialogue spilling over into the next as we wander aimlessly through a storyline that doesn't find its feet until the first act is over.
              p
                | I implore anyone who watches this film to go in without any details and to stick with it until the halfway point, as the first act appears quite bland and lifeless until all of the pieces fall into place. Even then, the characters themselves remain fairly two-dimensional throughout the film. However, the narrative is intoxicating enough to carry the load as it develops into a coherent and surprisingly intriguing plot.
              p
                em Side Effects
                |  revolves around its narrative. There is nothing special about the cinematography, and the soundtrack, while fitting with the calm and dreamlike pace of the film, is nothing to rave about. Neither is the subdued acting, which is sufficient enough as a vehicle for the script, but does little otherwise. The film relies entirely on its storyline to capture the viewer's attention, and for those going in without any knowledge, it serves its purpose very well despite a number of questionable plot points. As an overall piece, however, it doesn't quite hit the dramatic nerves that it should; it builds up to an unsatisfying whimper of an ending and leaves a bad taste to an enjoyable movie, whose subdued pieces allow the narrative to shine but prevent the film from ascending.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | Jan 11, 2015
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/paper-moon') Paper Moon (1973)
            #body
              p
                img(src='http://2.bp.blogspot.com/-NCuW1uBSZP0/TpDmJiAWWcI/AAAAAAAAJoo/NeBs0cBpajw/s1600/PaperMoon_087Pyxurz.jpg', alt='Paper Moon (1973)')
              p
                | Despite the sour news of an abusive childhood environment that have surfaced in regards to father-and-daughter pair Ryan and Tatum O'neal, 
                em Paper Moon
                |  stands as a wonderful and surprisingly heartwarming film about a con man, Mozes, and the little girl who puts herself under his care.
              p
                | As well as being the youngest recipient of an Academy Award for her role as Addie Loggins, Tatum O'neal won the Golden Globe for New Star of the Year at age 10. Tatum had never acted before, but as the co-lead to her father, Ryan, she's as adorable as she is tough and savvy, out-witting the con-man at every juncture. Her childlike energy and joy shines through when she plays the sly manipulator, but her quiet and brooding persona plays off well with other members of the cast as they attempt to break her shell and have a meaningful conversation with her.
              p
                | On the topic of conversation, the script has a ton of clever back-and-forth dialogue, and never gives in to the typically mushy spiel of a lost girl reunited with her father. Both leads are tough and charismatic in their own ways, and there's a lot of subtle humor to be found. The cinematography is likewise fantastic, with an incredible deep focus that makes entire scenes look sharp, and several beautiful long takes and tracking shots that highlight the dialogue and Kansas environments.
              p
                | The clever dialogue and scenarios are enchanting enough to prevent the film's many slower chapters from bogging down the pace, and I barely realized I was reaching the end of the film until I was already there. Although there is certainly character development among the two leads, the film is earnest in its portrayals and allows the natural father-daughter chemistry to do the heavy lifting, resulting in a very sneaky heartwarmer.
              p
                | It's an absolute delight to watch the two play off each other and tramp along the Kansas landscape, pleasuring themselves in their con artistry, and although there are a number of different environments and characters, the immense focus on Moze and Addie's relationship makes the film feel quite bare and raw. 
                em Paper Moon
                |  is a fantastic film whose premise could have easily fallen into cliche Hollywood territory, and I can't quite think of a good comparison for the unique treasure it became.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | Dec 27, 2014
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/the-wrong-mans-series-2') The Wrong Mans - Series 2 (2014)
            #body
              p
                img(src='http://thenypost.files.wordpress.com/2014/12/wrongmans1a.jpg', alt='The Wrong Mans')
              p
                | In this extra special, vaguely Christmas-themed installment of 
                em The Wrong Mans
                | , two men in witness protection attempt to go back home, only to set off a string of dominoes that entangle them in a web of extravagant and completely unrelated schemes.
              p
                | Anyone who's watched the first series may be wary of another installment. The storyline was wrapped up quite neatly, and the entire premise of the show involved two ordinary men unwittingly dragged into the role of loose-cannon, undercover heroes. The producers had massive gall to basically repeat the plot device for another series, but somehow, they managed to pull it off with grace.
              p
                | LIke the first series, 
                em The Wrong Mans
                |  part two ramps up in intensity unexpectedly quickly, with antic after antic being thrown into our heroes' faces as they try to get back home for Christmas. The series plays off as an epic Bourne homage, with a number of great action pieces for our dopey protagonists to fumble their way through. Their signature blend of action and dark humor is back, with wonderful cinematography providing a serious tonality to the otherwise comedic breakneck pacing.
              p
                | Unfortunately, the series could have done with another one or two episodes to spread out the resolution of its multiple loose ends. The first three episodes are paced brilliantly, but the fourth plays as a laundry list of plot points that needed to be resolved, and their checklisting of villains feels rushed and disjointed.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | Nov 1, 2014
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/bojack-horseman') Bojack Horseman - Season 1 (2014)
            #body
              p
                img(src='http://pmcvariety.files.wordpress.com/2014/08/bojack-horseman-tv-review.jpg?w=670&h=377&crop=1', alt='Bojack Horseman (2014)')
              p I'm back! And it's a good one.
              p
                | Let me start off by saying this: Bojack Horseman is not the show you think it is. Beyond the cliched indie-comedy joke format of its trailer and the anthropomorphic animals populating its bizarre world, the show provides its audience with an existential trip that digs deeper than the traditional animated comedy and manages to infuse its characters with some very real, very complex human emotions. Somewhere along the twelve-episode span of its first season, the writers transitioned away from the pure comedy focus and honed in on the true meat of the Bojack story — his aggressive and apathetic upbringing, his deep-rooted insecurities with being washed-up, and the impact that has on the people in his life. And while Bojack is the namesake of our story, most of the script's overarching themes involve revelations on the feelings, motivations, and upbringings of all of our characters, and how actions that seem inconsequential to us may have long-standing impacts on those who look up to us, whether we see ourselves as role-models
                | or not.
              p
                | That's not to say that the show isn't funny. The script is rife with quick-shots, punch-lines, one-liners, and digs on popular culture, and the animation is littered with visual gags, often playing with the notion
                | of a world populated by large anthropomorphic animals. At the same time, the show doesn't become a caricature of itself or fish for laughs; jokes will come and go with little affair, and episodes will likely require at least two viewings to catch all of them. Like Will Arnett's most well-known comedy hit, Arrested Development, a lot of the situations that arise are completely ludicrous and go much further than is expected of them, and yet the show is able to build a real world that the audience can feel a connection with. This is the true value of Bojack Horseman — its ability to ground itself in its incredibly detailed and relatable character sketches and expose the internal workings of its cast.
              p
                | Between the show's star-studded cast of voice actors and its lackadaisical art style, Bojack Horseman has a lot of room to ride on the coattails of established animated comedy greats and deliver cheap laughs to satisfy its audience. Instead, and perhaps due to the freedom of being a Netflix Original, it provides a fresh, unique experience that is sometimes heartwarming, sometimes heart-dropping, often surreal, and always funny. The artists, writers, actors, musicians, and producers have all come together to build something uniquely and unmistakably 
                em Bojack,
                |  and it would be a shame to let the premise of the show prevent you from watching it through.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | May 20, 2014
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/godzilla-2014') Godzilla (2014)
            #body
              p
                img(src='http://www.theeffect.net/wp-content/uploads/2014/05/godzilla_2014.png', alt='Godzilla (2014)')
              p
                | Hearkening back to the slow-burning monster flicks of yesteryear, Gareth Edwards was clearly inspired by classic films like 
                em Jaws
                |  and 
                em Jurassic Park
                |  in making 
                em Godzilla
                | , with varying degrees of success. You'll sit through a number of teasers and big poster reveals before settling in for the final apocalyptic showdown between Godzilla and his prey, and watching the titular character rip apart everything in his path is as brilliant as it should be, with great CGI and a boisterous orchestral soundtrack to back it up.
              p
                | At the same time, the film never seems to hit the same notes as those that it tries to emulate. The tension it tries to replicate never shows up, despite multiple moments in which you 
                em know
                |  you should be feeling something -- fear, terror, awe. Even in IMAX 3D, I never had knots in my stomach the way I did when, for instance, the Tyrannosaurus first appeared on screen in 
                em Jurassic Park
                | .
              p
                | Going into the theater, I appreciated knowing that the trailers for 
                em Godzilla
                |  were sparse on details, and I was pleasantly surprised by the plot's development. Unfortunately, much of the film is hampered by a cliched Hollywood love story, and the majority of the film's "human element" is unnecessary padding that never leads anywhere. If the scene you're watching has a child as one of its focal points, its probably safe to skip those minutes. It almost seems like they tried 
                em too
                |  hard to keep Godzilla under wraps, and decided to use as much hammy filler  as possible to run up the clock.
              p
                | In addition, most of the script is either pure Hollywood spiel, or cheesy and ridiculous. Ken Watanabe stumbles through the entire film in a state of utter shock and confusion, Elizabeth Olsen and Carson Bolde have the riveting roles of looking worried for our protagonist, and I'm not entirely sure why Sally Hawkin's character existed after the first half hour. Even Bryan Cranston (who has a much smaller role than advertised) has painfully subpar lines.
              p
                em Godzilla
                |  (2014) is a straight split down the middle. Monster flicks require big budgets to pay for the CGI, and a big budget means going through the Hollywood system, where it'll likely be mucked up by cliched, "relatable" storylines that distract from the main attraction. Edward's attempt at 
                em Godzilla
                |  is the franchise's best in a long time, but it still has a ton of flaws that keep it from being great.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | May 18, 2014
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/the-amazing-spider-man-2-2014') The Amazing Spider-Man 2 (2014)
            #body
              p
                img(src='http://efavata.com/CBM/wp-content/gallery/the-amazing-spider-man-2/amazing-spider-man-2-fire-spider.jpg', alt='The Amazing Spider-Man 2')
              p
                | With Columbia Pictures recently announcing plans to expand the Spiderman universe with Venom and Sinister Six spinoffs, it's become increasingly clear that the new films aim to be big blockbuster cash grabs. The second film in Spidey's reboot certainly lives under that header, bringing fantastic visuals and digital effects to showcase its onslaught of action.
              p
                | The cinematography is more of what was seen in the previous film -- quick, stylish shots, dizzying pans, and a lot of eye-catching slow-mo to showcase Spider-Man's more intricate movements in battle. This is Spider-Man at his best, and the fight scenes are pure summer spectacles. Although I'm not a fan of 3-D films, I gave it a chance and found that it really enhanced the picture; unlike a lot of other films, I rarely caught myself self-aware of the format.
              p
                | Unfortunately, the film's script follows the same formula as its cinematography; it attempts to juggle three or four different storylines, and although it certainly does so with more care than Spider-Man 3, it still comes across as unfocused and uneven. Peter (Andrew Garfield) and Gwen (Emma Stone) have great chemistry together, but in moments of turmoil, the acting takes a turn for the worse and ends up being comically over-dramatic. On the other end of the spectrum, we don't see nearly enough of Harry to justify such a large role in this film; the backstory and appearances of Harry and Norman Osbourne are suspect at best, and the relationship between Peter and Harry is shaky and rushed. Had they introduced Harry in the first film, his appearance here would have been much less superficial.
              p
                | And what's up with his hair, anyways?
                img(src='http://www.ramascreen.com/wp-content/uploads/2013/12/The-Amazing-Spider-Man-2-Dane-DeHaan-e1389278539393.jpg', alt='Harry Osbourne')
              p
                | The only storyline that I can comfortably back is Electro's. Jamie Foxx plays an entertaining Max and gives the first 30 minutes some life in between the mushy-gushy of Peter's relationship with Gwen. As Electro, he looks 
                em fantastic
                | , and the effects are pretty eye-catching. What really stands out during Electro's scenes, however, is Han Zimmer's soundtrack. The soundtrack is heavy on the electronic/dub sound and gives off a really intense, modern vibe. The action on screen intertwines with the beats and drops of the soundtrack, making Electro's presence truly unique and memorable. Yes, the logic behind Electro's resentment of Spider-Man isn't exactly fool-proof, but his action scenes stick out in my mind as the best parts of this film.
              p
                | Overall, 
                em The Amazing Spider-Man 2
                |  is a great, action-packed blockbuster with beautiful visuals and a clean, modern soundtrack. Unfortunately, the plot suffers from being too jam-packed with material, and it is pretty obvious that the writers were forced to rush some of the storylines to plant the seeds for future sequels. As a Spidey fan, I look forward to the next few movies -- with great hopes for the action, and little hope for the plot.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | Mar 28, 2014
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/high-noon') Latino Images in Film #5 - High Noon (1952)
            #body
              p
                img(src='http://graphics8.nytimes.com/images/2012/07/15/arts/15KEHR1_SPAN/15KEHR1_SPAN-articleLarge.jpg', alt='High Noon (1952)')
              p
                | The short run-time of Fred Zinnemann's uncommon western belies its surprising amount of substance and polish. Not a second is wasted on overzealous information or inconsequential subplots, and the events are paced near perfectly to coincide with the true 85-minute run-time of the film. The time is always ticking and looming over marshal Will Kane (Gary Cooper) as he tries to round up a small village to back him up against an old adversary, and with each failure, we gain insight into social perceptions, human behaviors, and group mentalities.
              p
                | The film does not ride on the coattails of beautiful cinematography, nor does it rely on its soundtrack to convey emotion. There is only one memorable song in this film, and it is a song that gets played over and over again from beginning to end. The film is all about its characters, about examining undeterred courage and common cowardice, and perhaps in that the film serves as Kane's greatest testimony. 
                em High Noon
                |  is understated and soft-spoken. It sticks to its guns and you're not quite sure how it'll turn out, but regardless of the outcome, it proves its worth and has its place in history.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | Mar 28, 2014
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/up-in-smoke') Up in Smoke (1978)
            #body
              p
                img(src='http://i68.photobucket.com/albums/i33/shannymaldonado/STILLS/CCUIS9.jpg', alt='Up in Smoke (1978)')
              p
                | Let's be honest: Cheech and Chong make films for stoners, and although this first outing probably would've been better had I been high off my rocker, it is still the 
                em definitive
                |  stoner flick. There is no drama or tension, no true conflict or moral of the story; if it had a plot, it certainly fell to the wayside by the 5 minute mark. This film is about two stoners who ride high and bang chicks, with scene after scene of ridiculous situations and nonstop fun. 
                em Up in Smoke
                |  starts off with probably the best sequence of the movie -- an extended scene of our two protagonists toking up in a beat up car -- then rolls onward to stranger and stranger situations, ending before you know it. 96 minutes of weed, weed trucks, and weed-based decisions.
        // Index article
        article.index
          .content
            .title
              // Date
              .date
                | Mar 27, 2014
                br
                | —
              // Post Title
              h1
                a(href='http://scriptogr.am/kyeah/post/lawrence-of-arabia') Lawrence of Arabia (1962)
            #body
              p
                img(src='http://img2.niwota.com/album/images/2013-12-17/1387290037142-club.jpg', alt='Lawrence of Arabia (1962)')
              p
                | Judging by the almost universal acclaim and adoration for this film even 50 years after its release, it took me about twenty years too long for me to watch this film. I've never been particularly enamored by lengthy films, and a movie long enough to have an intermission is certainly in that category. After viewing it for the first time, however, I can honestly say that this is one of the best films I've ever watched.
              p
                | Despite being nearly 4 hours long, the writers set a fantastic pace for the film's story that easily makes it go by quicker than films half its length. It's impressive how quickly it seems to shift from Lawrence making a fool of himself, to conquering cities with an Arabian army at his stead. The then-novel time-shift narrative serves well as a vehicle for the film's psychological analysis of the titular character, who struggles throughout to understand his motivations and allegiances between the conflicting desires of the British military, the Arabian masses, and his own moral compass, and O'Toole handles the role with care and finesse as he depicts Lawrence at varying stages of his impressive military service.
              p
                em Lawrence of Arabia
                | 's enormous production budget is evident in all aspects of its creation, from its vast landscapes and awe-inspiring battle scenes, to its hugely affecting soundtrack. The picture quality is beautiful and a real treat given the year of its release, and cinematographer Freddie Young takes full advantage of it with a mix of eclectic Arabian landscapes. These landscapes feel foreign to the eye, and, when combined with the now-iconic soundtrack, feel like an entirely new planet away from the comforting familiarity of civilization. The film, above all, succeeds in painting the unique world of Arabia with beauty and finesse, perhaps the way T.E. Lawrence truly saw it.
      // Footer
      section#foot
        footer
          p
            strong Kevin Yeh
    // Return To Top Button
    a#return-button
      img(src='/img/blog/film-return-button.png', width='33', height='32', alt='Return button')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='/js/film-app.js')
