extends film_layout

block content
  | {% for film in site.films reversed %}
  article.index
    .content
      .title
        .date
          | {{ film.date | date: '%b %d, %Y' }}
          br
          | —
        h1: a(href='{{film.url}}') {{ film.title }}
      #body
        img(src='{{film.img}}')
  | {% endfor %}