extends layout

block title
  title Home | Kevin Yeh

block cover
  #padder.am-content-header-container.am-light
    div.am-content-container
      header.pure-g-r
        div.pure-u-1-3

  +cover(class='mountainside am-hero-small' style='background-color: rgba(0,0,0,0.2)')

block content
  section#intro.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u.hcentered
            img.about-avatar(src='img/personal/avatar.png')
            h1
              .animated.fadeInDown
                span.burnt-red(style='margin-left: 16px; padding-left: 15px') K
                span.burnt-orange(style='margin-right: 16px') YEAH.
              hr
              .animated.fadeInUp(style="line-height: 0.5em")
                include social_layout.jade
        .pure-g.hcentered
          .pure-u-1.pure-u-md-1-12
          .pure-u-1.pure-u-md-5-6
            h4.text-justified.gray
              br
              | {{ site.about | markdownify | remove: '<p>' | remove: '</p>' }}

  section#code.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u.hcentered(style='width: 97%')
            .image-row
              .grid.
                <div class='grid-sizer'></div>
                {% for proj in site.projects %}
                <div class='grid-item {{proj.grid-style}}'>
                    <div class='image-link'>
                      <div class='inner'>
                      {% if proj.vid %}
                      <video autoplay loop preload="auto" poster="{{proj.vid-poster}}">
                        <source src='{{proj.vid}}' type="video/webm"/>
                      </video>
                      <img src='{{proj.vid-poster}}' class='hidden-vid-poster'></img>
                      {% else %}
                      <img src='{{proj.img-large}}' alt='{{proj.img-alt}}'></img>
                      {% endif %}
                      <div class='image-info'>
                        <h1>{{proj.title}}</h1>
                        <span>
                        {{proj.info}}
                        </span>
                        <div class='inner-info'>
                          <div class='text'>{{proj.content}}</div>
                        </div>
                      </div>
                        </div>
                    </div>
                    <div class='bot'></div>
                </div>
                {% endfor %}

            h3-dark.text-centered.light-gray
              br
              | Visit 
              a(href='https://github.com/kyeah') github:kyeah 
              | for an in-depth look at my recent and ongoing projects.

  section#blog.content-wrapper(style='padding-top: 30px')
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u-1-12
          .pure-u-5-6(style='margin-bottom:10px'): h3-dark.blue 
            br
            | <a href='blog'>Newest Blog Post: {{ site.posts.first.title}} </a>
            br
        .pure-g.hcentered
          .pure-u-1-12
          .pure-u-5-6
            p(style='margin:0;')
              h4-dark
                | {{ site.posts.first.excerpt | remove: '<p>' | remove: '</p>' }}
                | <a href='{{ site.posts.first.url }}'>&nbsp→</a>
            hr(style="margin-top:20px")

  section#blog.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u-1-12
          .pure-u-5-6(style='margin-bottom:10px'): h3-dark.blue 
            br
            | <a href='films'>Newest Film Post: {{ site.films.last.title }} </a>
            br
        .pure-g.hcentered
          .pure-u-1-12
          .pure-u-5-6
            p(style='margin:0;')
              h4-dark
                | {{ site.films.last.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
            hr(style="margin-top:20px")        

  section#talks.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u-1-12
          .pure-u-5-6(style='margin-bottom:10px'): h3-wide.blue
            br
            | Recent talks and papers.
            br
        .pure-g
          .pure-u-1-12
          .pure-u-5-6: h4-dark(style='font-size:15px')
            | The New MongoDB Rust Driver @ Rust NYC [
            a(href="/img/projects/mongo-rust-driver.html") Slides
            |  | 
            a(href="https://github.com/mongodb-labs/mongo-rust-driver-prototype") Git
            | ]
            br
            a(href="/img/projects/liteturn-final.pdf") Liteturn: 
            | Gesture-Controlled Cyclist Lights Using Cheap and Efficient Devices [
            a(href="/img/projects/liteturn-pres.pdf") Slides
            |  | 
            a(href="https://github.com/kyeah/liteturn") Git
            | ]
            br
            a(href="/img/projects/cnn-final.pdf") Neural Style: 
            | The Genetic Evolution of Aesthetically-Pleasing Fractals [
            a(href="/img/projects/cnn-pres.pdf") Slides
            |  | 
            a(href="https://github.com/kyeah/genetic-fractals") Git
            | ]
            br
            a(href="/img/projects/nao-final.pdf") The NAO Robot: 
            | A Gravity Compensation Controller and Keyframe Behavior for Motion Development
            br
            a(href="/img/projects/magical-realism.pdf") Magical Realism: 
            | Exploring Reality and Agency in the Coming-of-Age Story