extends layout

block title
  title Home | Kevin Yeh

block extra-menu
  li: a(href='#code') Code + Design              

block cover
  +cover(class='mountainside')

block cover-text
  h1.blue Kevin Yeh
  h2.text-shadowed 
    | A student and developer from New York City 
  h2.text-shadowed.burnt-orange 
    | studying Computer Science at the University of Texas at Austin.
  include social_layout.jade

block content
  section#intro.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u.hcentered
            img.about-avatar(src='img/personal/avatar.png')
            h1-alt.burnt-orange: i "How do I love thee? Let me count the ways,
            h3.spaced.text-upper: i
              a(href='kyehresume.pdf' target='_blank') that I may dissect thy resume."
            h4.text-centered.light-gray
              br
              | I am a New York native, Austin developer, 
              a(href='http://family.stuycs.org/pbs') StuyCS Alumnus 
              | and 
              a(href='http://hackny.org/a/fellows') hackNY Fellow 
              | studying at the University of Texas at Austin. 
              br
              br
              | I'm an Android developer at early-stage startup 
              a(href='http://cerebri.io') Cerebri 
              | and a Facebook Open Academy engineer on 
              a(href='http://geotrellis.io/') GeoTrellis
              | . I've recently worked for 
              a(href='https://aws.amazon.com') Amazon AWS 
              | on their distributed RDS and DynamoDB technologies, and for local Austin company 
              a(href='http://www.blastronetworks.com') Blastro Networks
              | , developing and orchestrating a simultaneous release of their three flagship Android apps.
              br
              br
              hr
              br
              | I'm an Android and Backend developer with 
              a(href='https://www.hackerleague.org/users/kyeahokay') hacker experience 
              | using Node.js, Docker, PostgreSQL, Spark Cores, Myo Armbands, and an assortment of other technologies to create exciting tools. My team recently placed third at HackTX 2014 for our gesture-controlled 
              a(href='https://github.com/kyeah/Liteturn') LiteTurn 
              | hack. 
              | I've worked at the systems level in C, done Graphics and Physical Simulation work and research in C++ and OpenGL,
              | developed Computer Vision applications using OpenCV, and worked with an assortment of scripting and web development tools in Python, Perl, Ruby, Scala, and Golang.
              br
              br
              | If you'd like to gossip with me about Android development, Distributed systems, Computer vision and graphics, or that one movie where Audrey Hepburn plays a blind woman,
              | contact me at 
              a(href='mailto:kevinyeah@utexas.edu') kevinyeah@utexas.edu
              | .

  // CODE 
  section#code.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered
          .pure-u.hcentered
            .image-row
              ul#og-grid.og-grid.
                {% for proj in site.projects %}
                <li style='{{proj.li-style}}'>
                  <a href='{{proj.link}}' data-git='{{proj.git}}' data-video='{{proj.video}}' data-largesrc='{{proj.img-large}}' data-title='{{proj.title}}' data-description='{{proj.content | markdownify}}' id='{{proj.id}}' data-anchorid='{{proj.anchorid}}'>
                    <div class='image-link'>
                      {% if proj.img-thumb %}
                      <img src='{{proj.img-thumb}}' alt='{{proj.img-alt}}' style='{{proj.img-style}}'></img>
                      {% else %}
                      <video autoplay loop preload="auto" width="501px" height="278px" style="background:#000000;" poster="{{proj.vid-poster}}">
                        <source src='{{proj.vid}}' type="video/webm"/>
                      </video>
                      {% endif %}
                    </div>
                  </a>
                </li>
                {% endfor %}

            h3-dark.text-centered
              br
              | Visit 
              a(href='https://github.com/kyeah') github:kyeah 
              | for an in-depth look at my recent and ongoing projects.

  section#blog.content-wrapper
    .content
      .am-content-container
        .pure-g.hcentered          
          .pure-u.hcentered.text-centered(style='margin-bottom:10px'): h3-dark.blue 
            | <a href='{{ site.posts.first.url }}'>Newest Blog Post: {{ site.posts.first.title}} </a>
            br
        .pure-g.hcentered
          .pure-u-1-12
          .pure-u-5-6
            p(style='margin:0;')
              h4-dark
                | {{ site.posts.first.excerpt | remove: '<p>' | remove: '</p>' }}
                | <a href='{{ site.posts.first.url }}'>&nbspRead more</a>
