extends layout

block title 
  title Blog | Kevin Yeh

block extra-menu
  li: a(href='http://scriptogr.am/kyeah') Film Journal

block cover
  +cover()(class='liteturn')

block cover-text
  a(href='/blog')
    h1.text-shadowed Questionable Hacks
  a(href='http://www.scriptogr.am/kyeah')
    h2(style='color: #A93504') goto > 
     span(style='color: #DB6837;') film journal

block scripts
  script(src="/js/blog.js")

block content
  section#blog
    include ./blog_nav.jade
    
    .content
      .am-content-container
        .content-wrapper
          | {% assign post = page %}            
          include ./post_content.jade
          hr
          br
