.pure-g.hcentered
  .pure-u-1.pure-u-md-1-6
    table.postdate
      tr: td: h5-dark
        | {{ post.date | date: '%d %b %Y' }}
      tr: td: h5-dark
        a(href="/blog") Back
  .pure-u-1.pure-u-md-2-3(style='padding:10px; padding-top:0')
    h5-dark.dark-gray(style='text-align:justify;')
      | {{ content }}
    | {% capture url %}{{ site.url }}{{ post.url }}{% endcapture %}
    table(style="margin-bottom: 5px")
      tr
        td(rowspan="2")
          img.about-avatar(src='/img/personal/avatar.png')
        td(style="vertical-align:bottom;padding-left:10px")
          a#home(href="/") Kevin Yeh
      tr
        td(style="vertical-align:top")
          include ./social_layout.jade
    hr