.pure-g.hcentered
  .pure-u-md-1-6
  .pure-u-1.pure-u-md-2-3
    br
    br
    center
      h2-dark.blue
        | {% capture title %}{{ post.title }}{% if post.subtitle %}:{% endif%}{% endcapture %}
        | <a href="{{ post.url }}">{{ title }}</a>
      | {% if post.subtitle %}
      br
      h3-dark.blue
        | {{ post.subtitle }}
      br
      br
      h4-dark.blue
        | Posted 
        time.timeago(datetime="{{ post.date }}")
        |  on {{ post.date | date: '%b %d, %Y' }}
      | {% else %}
      br
      h3-dark.blue
        | Posted 
        time.timeago(datetime="{{ post.date }}")
        |  on {{ post.date | date: '%b %d, %Y' }}
      | {% endif %}
      br
      br
    h5-dark.dark-gray(style='text-align:justify;')
      | {{ content }}
    | {% capture url %}{{ site.url }}{{ post.url }}{% endcapture %}
    br
    a(href='/feed.xml' target='_blank' title='Retrieve RSS feed'): i.fa.fa.fa-rss.icon
    a(href='http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ url }}&source={{ site.url }}' target='_blank' title='Share on Linkedin'): i.fa.fa.fa-linkedin.icon
    a(href='https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}' target='_blank' title='Share on Facebook'): i.fa.fa.fa-facebook.icon
    a(href='https://plus.google.com/share?url={{ url }}' target='_blank' title='Share on Google Plus'): i.fa.fa.fa-google-plus.icon
    a(href='https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}&via=KYeahokay' target='_blank' title='Share on Twitter'): i.fa.fa.fa-twitter.icon
    br
    br
