extends layout

block title 
  title Blog | Kevin Yeh

block extra-menu
  li: a(href='http://scriptogr.am/kyeah') Film Journal

block cover
  +cover()(class='liteturn')

block cover-text
  h1.text-shadowed The Blog
  a(href='http://www.scriptogr.am/kyeah'): h2(style='color: #DB6837') Looking for my film journal?

block content
  section#blog
    #posts_anchor
    .blog-nav
      ul#posts(style="position:absolute;").
        <li class="animated fadeInDown">
          <a href='/blog'><h2-dark style='color: #DB6837;'>The Blog</h2-dark></a>
        </li>

        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}

    .content
      .am-content-container
        .content-wrapper
          .pure-g.hcentered
            .pure-u-1-6
            .pure-u-2-3
              br
              h2-dark(style='color: #3776DB')
                div.
                  <a href="{{ page.url }}">{{ page.title }}</a>
              h3-dark(style='color: #3776DB')
                | Posted 
                time.timeago(datetime="{{ page.date }}")
                |  on {{ page.date | date: '%b %d, %Y' }}
                br
                br
              h5-dark(style='color: #363636')
                div.
                  {{ content }}
              | {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
              a(href='/feed.xml' target='_blank' title='Retrieve RSS feed'): i.fa.fa.fa-rss.icon
              a(href='http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ url }}&source={{ site.url }}' target='_blank' title='Share on Linkedin'): i.fa.fa.fa-linkedin.icon
              a(href='https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}' target='_blank' title='Share on Facebook'): i.fa.fa.fa-facebook.icon
              a(href='https://plus.google.com/share?url={{ url }}' target='_blank' title='Share on Google Plus'): i.fa.fa.fa-google-plus.icon
              a(href='https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}&via=KYeahokay' target='_blank' title='Share on Twitter'): i.fa.fa.fa-twitter.icon
              br
              br              
          hr
          br
