extends layout

block title 
  | <title> {{page.title}} </title>

block meta
  meta(name="twitter:card" content="summary")
  meta(property="og:type" content="article")
  meta(property="og:title" content="{{ page.title }}")
  meta(property="og:description" content="{{ page.excerpt }}")
  meta(property="og:image" content="http://kyeh.me/img/covers/photon-thumb.png")
  meta(property="og:url" content="http://kyeh.me{{ page.url }}")

block extra-menu
  li.pure-menu-item: a(href='/films') Film Journal

block cover
  +cover()(class='am-hero-med photon')

block cover-text
  a(href='/blog')
    | {% capture title %}{{ page.title }}{% if page.subtitle %}:{% endif%}{% endcapture %}
    | <h1 class="text-shadowed white"> {{ page.title }} </h1>
  h3-dark.white.text-shadowed
    | {% if page.subtitle %}
    | {{ page.subtitle }}
    br
    | {% endif %}
  h2
    include ./social_layout.jade

block scripts
  script(src="/js/blog.js")
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

block content
  section#blog
    include ./blog_nav.jade
    
    .content
      .am-content-container
        .content-wrapper
          | {% assign post = page %}
          include ./post_content.jade
          .pure-g.hcentered
            .pure-u-md-1-6
            nav.pure-u-1.pure-u-md-2-3
              #share(style='float:left; padding-top:10px')
                a.twitter-share-button(href="https://twitter.com/share" data-via="kyeahokay") Tweet
                a.twitter-follow-button(href="https://twitter.com/kyeahokay" data-show-count="false") Follow @kyeahokay
              #footermenu.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal
                ul.pure-menu-list
                  li.pure-menu-item: a(href='/blog') Blog
                  block extra-menu
                  li.pure-menu-item: a(href='/') About
                br
