.pure-g.hcentered
  .pure-u-1.pure-u-md-1-6
    h5-dark.postdate
      br
      | {{ post.date | date: '%d %b %Y' }}
  .pure-u-1.pure-u-md-2-3(style='padding:10px; padding-top:0')
    h5-dark.dark-gray(style='text-align:justify;')
      | {{ content }}
    | {% capture url %}{{ site.url }}{{ post.url }}{% endcapture %}
    br
    hr