.pure-g.hcentered
  .pure-u-1.pure-u-md-1-6
  #header.pure-u-1.pure-u-md-2-3
    table
      tr
        td(rowspan="2")
          img.about-avatar(src='/img/personal/avatar.png')
        td(style="vertical-align:bottom;padding-left:10px")
          a#home(href="/") Kevin Yeh
      tr
        td(style="vertical-align:top")
          include ./social_layout.jade
    table.postdate
      tr
        td#date-sm: h5-dark
          | {{ post.date | date: '%d %b %Y' }}
          br
          a(href="/blog") Back
        td#title
          | <h1 class="black"> {{ post.title }} </h1>
          h3-dark.black
            | {% if post.summary %}
            | {{ post.summary }}
            br
            | {% endif %}

    #sep

.pure-g.hcentered
  .pure-u-1.pure-u-md-1-6
    table#date-lg.postdate
      tr: td: h5-dark
        | {{ post.date | date: '%d %b %Y' }}
      tr: td: h5-dark
        a(href="/blog") Back
  .pure-u-1.pure-u-md-2-3#blog-content
    h5-dark.dark-gray(style='text-align:justify;')
      | {{ content }}
    | {% capture url %}{{ site.url }}{{ post.url }}{% endcapture %}
    br
    hr