a(href='https://github.com/kyeah'): i.fa.fa-github.icon.transparent
a(href='https://www.linkedin.com/pub/kevin-yeh/58/ba0/732'): i.fa.fa-linkedin.icon.transparent
a(href='https://www.facebook.com/k.YEAHHH'): i.fa.fa-facebook.icon.transparent
a(href='https://twitter.com/kyeahokay'): i.fa.fa-twitter.icon.transparent
a(href='/film'): i.fa.fa-video-camera.icon.transparent