a(href='https://github.com/kyeah'): i.fa.fa-github.icon.transparent
a(href='http://www.linkedin.com/profile/view?id=205992470'): i.fa.fa-linkedin.icon.transparent
a(href='https://www.facebook.com/k.YEAHHH'): i.fa.fa-facebook.icon.transparent
a(href='https://plus.google.com/u/0/100069674969941474776'): i.fa.fa-google-plus.icon.transparent
a(href='https://twitter.com/kyeahokay'): i.fa.fa-twitter.icon.transparent
a(href='http://scriptogr.am/kyeah'): i.fa.fa-video-camera.icon.transparent
