extends ../_layouts/post_layout

block post-title
  | HELLO, BLOG

block time
  | Posted 
  time.timeago(datetime='2013-05-24T07:30:00-0400')
  |  on May 24&comma; 2013&period;

block content
  | Early morning nonsense post&semi; ignore&period; thank you&period;