extends ../_layouts/post_layout

block post-title
  | Getting Cozy with Android Studio

block time
  | Posted 
  time.timeago(datetime='2013-05-24T16:07:15-0400')
  |  on May 24&comma; 2013&period;

block content
  | I recently switched over to Android Studio after months of
  | frustratingly sitting back in my chair while Eclipse plinked around&comma; cleaning and building the
  | project every
  | time I
  | changed a few lines of code&period;
  br
  br
  | Thank god&period;
  br
  br
  | This is my first encounter with an IDE from JetBrains&period; It&apos;s cleaner&comma; faster&comma; and it just feels
  | good to work with&period;
  i It feels right&period;
  | I don&apos;t have to tinker around with the 3 perspectives I
  | want and the 15 others that get in the way&semi; I don&apos;t have to slow my IDE down with plugins for vital functionality&semi; I don&apos;t have to wade through menus to fix dependencies and all the other miscellaneous things that go wrong in Eclipse&period; Android Studio comes in hot&period; It does what you want&comma; when you want&period; It makes sense&period;
  br
  br
  | Android Studio is a joint effort between Google and JetBrains&comma; and is built on JetBrain&apos;s IntelliJ IDEA&period; Despite being in early access preview&comma; it manages to be better than Eclipse in just about every way possible&period; It&apos;s like that new kid in school with a fresh leather jacket and well-trimmed pompadour who manages to steal all the popular kids&apos; crewmates and girlfriends before simultaneously revealing his 1964 Aston Martin and dropping the pants of everyone in a 5-mile radius&period;
  br
  br
  | Or something like that&period;
  br
  br
  | One of my favorite things about AS is how dynamic it is&colon; color previews appear instantaneously and you can view the layout of your app on a number of different devices without ever compiling the project&period; I often found myself waiting for Eclipse whenever I wanted to test and compare different colors and positions&comma; and I&apos;ve probably wasted several hours nudging padding and weights to make it perfect&period; While I enjoy getting paid to reddit during compilation&comma; sometimes a man just needs to see the damn thing work so he can move on to more important matters&period;
  br
  br
  | My only complaint is the Logcat viewer&period; The only way to stop auto-scrolling to the most recent log is to click your way through an error&comma; which automatically opens up the offending file&period; While I do appreciate the effort&comma; it ends up being a nuisance to work with&period; There also appears to be some slowdown when attaching the debugger&comma; which wasn&apos;t there when using Eclipse&period; Hopefully we&apos;ll see some improvements with Logcat going forward&comma; but Android Studio manages to blow Eclipse away so completely in every other category that it&apos;s hard to imagine going back&period;
  br
  br
  | In Google and JetBrains I believe&period;