extends layout

block title 
  title Blog | Kevin Yeh

block extra-menu
  li: a(href='http://scriptogr.am/kyeah') Film Journal

block cover
  +cover()(class='liteturn')

block cover-text
  h1.text-shadowed The Blog
  a(href='http://www.scriptogr.am/kyeah'): h2(style='color: #DB6837') Looking for my film journal?

block content
  section#blog.content-wrapper
    .content
      .am-content-container
        include ../_posts/4.jade
        include ../_posts/3.jade
        include ../_posts/2.jade
        include ../_posts/1.jade
        include ../_posts/0.jade
