doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

  block title

  // Set the viewport width to device width for mobile
  meta(name='viewport' content='width=device-width, initial-scale=1')

  // Included CSS Files
  link(rel='stylesheet' href='css/foundation.min.css')
  link(rel='stylesheet' href='css/lightbox.css')
  link(rel='stylesheet' href='css/screen.css')
  link(rel='stylesheet' href='css/longform.css')
  link(rel='stylesheet' href='css/app.css')
  link(rel='icon' type='image/x-icon' href="/images/logos/favicon.ico")
  style.
    [ng-cloak] {display: none}

  // Included Javascript Files
  script(src='js/jquery-1.7.2.min.js')
  script(src='js/lightbox.js')
  script(defer src='js/vendor/custom.modernizr.js')
  script(defer src='js/longform.js')
  script(defer src='js/jquery.stellar.min.js')
  script(defer src='js/jquery.timeago.js')
  script(defer src='js/foundation/foundation.min.js')
  script(defer src='js/vendor/app.js')

  div.am-content-header-container.am-light
    div.am-content-container
      header.pure-g-r
        div.pure-u-1-3
          div.pure-g
            div.pure-u-4-5
            div.pure-u-1-5
              a.am-visible-phone.am-open-menu(href='#')
                i.icon-menu
                
        nav.pure-u-2-3.am-collapsed-phone-menu
          div.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal
            ul
              li(data-magellan-arrival='about')
                a(href='#main-content') About
              li(data-magellan-arrival='code')
                a(href='#code') Code
              li(data-magellan-arrival='design')
                a(href='#design') Design
              li(data-magellan-arrival='blog')
                a(href='#blog') Blog
                  
      //  
        nav.pure-u-2-3.am-collapsed-phone-menu.fixed(data-magellan-expedition='fixed')
          div.pure-menu.pure-menu-open.pure-menu-horizontal
            dl.sub-nav
              dd.active(data-magellan-arrival='about')
                a(href='#main-content') Kevin Yeh
              dd(data-magellan-arrival='code')
                a(href='#code') Code
              dd(data-magellan-arrival='design')
                a(href='#design') Design
              dd(data-magellan-arrival='blog')
                a(href='#blog') Blog

mixin cover()
  section#hero.am-hero.am-hero-med.am-hero-cover.cover(data-stellar-background-ratio='0.5' class!=attributes.class)
    div.am-content-container
      div.pure-g
        div.pure-u
          block cover-text

body  
  block cover
  block content