.pure-g.hcentered
  .pure-u-1-6
  .pure-u-2-3
    h2-dark(style='color: #3776DB')
      br
      block post-title
      br
    h3-dark(style='color: #3776DB')
      block time
      br
      br
.pure.g.hcentered
  .pure-u-5-24
  .pure-u-7-12
    h5-dark(style='color: #363636')
      block content
      br
      br
      br
hr